
header{
    text-align: center;
    background-image: url(kek_eg.jpg);
    width: 100%;
    margin: auto;
}
#udv{
    text-align: center;
}
#fitness{
    color: yellow;
}
body{
    background-color: grey;
}
.list{
    margin: 0px;
}
#navlist{
    margin: 0;
    display: inline;
    list-style: none;
}
.line{
    display: inline;
    padding-left: 30px;
}
#color1{
    background-color: blue;
    text-align: center;
}
#color2{
    color: white;
}
h4{
    margin-bottom: 0;
}
.al1{
    color: blue;
    margin-left: 30px;
    letter-spacing: 3px;
}
.al2{
    list-style-type: none;
}
.lfloat{
    float: left;
    width: 50%;
}
.rfloat{
    float: right;
    width: 20%;
    margin: auto;
}
#felelos{
    margin-left: 40px;
}
#kozepdiv1{
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 700px;
}
#kozepdiv2{
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 500px;
}
#kozepdiv3{
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 450px;
}
.textinp{
    width: 80%;
}
#margin{
    margin-left: 20px;
}
